ion-content{
    --background: linear-gradient(0deg,rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url(/assets/modern-gold-background-free-vector.jpg)no-repeat center center /cover; 
}

.login-section {
    height: 70vh;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;

    .heading{
        margin-top: 20px;
        h1{
            font-size: 1.6rem;
            font-weight: bolder;

        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color: green;
        }
    }
    .login-form{
        .form-input{
            position: relative;
            margin-bottom: 10px;
            ion-item::part(native) {
                padding-left: 0;

            }

            ion-icon{
                position: absolute;
                top: 34px;
                z-index: 2;
                font-size: 1.2rem;
                left: 1px;

            }
            ion-label{
                position: absolute;
                top:1px;
                margin-left: 25px;
                font-weight: bolder;
                font-size: 0.8rem;

            }

            ion-input{
                font-size: 0.9rem;
                --padding-start: 30px;
                --padding-top: 30px;
                color: rgb(145, 17, 17);
            }
        }
    }
    .action-button{
        text-align: center;
        .login-button{
            --background: rgb(145, 17, 17);
            width: 100%;
            font-weight: bold;

        }
        p{
            margin-top: 15px;
            font-size: 1rem;
            color: #7b7b7b;

        }

        .signup-button{
            --background: rgb(15, 169, 46);
            --border-color: rgb(0, 0, 0);
            color: #fff;
            margin-top: 2px;
            width: 100%;

        }
    }
}
