<ion-header>
  <ion-toolbar>
    <ion-title>reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="login-section ion-padding">
      <div class="heading ion-padding">
        <h1>WELCOME USER</h1>
        <p>Sign in to continue</p>
      </div>
      <div class="login-form ng-padding">
        <div class="form-input">
            <ion-item>
          <ion-input id="email" placeholder="email" expand="block"></ion-input>
        </ion-item>
      </div>
      <ion-button expand = "block" (click)="reset ()">Reset Password</ion-button>
    </div>
  </div>
  </ion-content>

</ion-content>
